:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 87%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  // font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.1;
  color: black;
  // margin: 0;
}

button {
  border-radius: 3rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(158, 46%, 57%);
  cursor: pointer;
  transition: border-color 0.25s;
  width: 12rem;
}

button:hover {
  // border-color: #646cff;
}

button:focus,
button:focus-visible {
  // outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
  height: 100vh;
  width: 100%;
}

label {
  font-family: 'Comfortaa', sans-serif;
  // font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: black;
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  outline: none;
}

/* Style unchecked checkboxes */
input[type="checkbox"]:not(:checked) {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

/* Style checked checkboxes */
input[type="checkbox"]:checked {
  width: 20px;
  height: 20px;
  border: 1px solid hsl(158, 0%, 100%);
  border-radius: 4px;
  /* Change the border color for checked */
  background-color: hsl(158, 46%, 57%);
  /* Change the background color for checked */
}

.container {
  display: flex;
  flex-direction: column;
  width: 24rem;
  // height: 100%;
  gap: 0.6rem;
  align-items: center;
  // background-color: rgb(217, 180, 138);
  padding: 1rem 0.6rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}