@mixin theme-color-1 {
  color: white;
}

@mixin app-backgroundColor {
  background-color: #2f2b40;
}

@mixin header-backgroundColor {
  background-color: #505168;
}

@mixin input-backgroundColor {
  background-color: #231f27;
}

@mixin input-color {
  color: #ebb73f;
}

@mixin button-backgroundColor {
  background-color: #ba526f;
}

@mixin button-color {
  color: black;
}

@mixin dropdown-backgroundColor {
  background-color: #231f27;
}

@mixin checkbox-backgroundColor {
  background-color: #ba526f;
}

@mixin folderIcon-fill {
  fill: #ebb73f;
}

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color: rgba(255, 255, 255, 0.87);
  // background-color: #f7f0f5;
  @include app-backgroundColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
  // width: 100vw;
}

body {
  margin: 0;
  display: flex;
  // place-items: center;
  // min-width: 320px;
  // min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
  height: 100vh;
  // width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
 
h1 {
  font-size: 1.4rem;
  line-height: 1.1;
  @include theme-color-1;
}

h2 {
  font-family: "Comfortaa", sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.1;
  @include theme-color-1;
  // margin: 0;
}

button {
  @include button-backgroundColor;
  @include button-color;
  border-radius: 3rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 12rem;
}

label {
  font-family: "Comfortaa", sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  @include theme-color-1;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
  appearance: none;
  outline: none;
  cursor: pointer;
}

/* Style unchecked checkboxes */
input[type="checkbox"]:not(:checked) {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style checked checkboxes */
input[type="checkbox"]:checked {
  border: 1px solid hsl(158, 0%, 100%);
  border-radius: 4px;
  @include checkbox-backgroundColor;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 18rem;
  // height: 100%;
  gap: 0.6rem;
  align-items: center;
  // padding: 1rem 0.6rem;
}

@media (max-width: 300px) {
  .container{
    padding: 0  0.4rem;
  }
}

@media (max-height: 415px) and (max-width: 190px) {
  .container {
    width: 90vw;
  }
  :root{
      font-size: 14px;
  }
}

@media (max-height: 325px) and (min-width: 190px) and (max-width: 300px) {
  :root{
      font-size: 14px;
  }
}

@media (max-height: 310px) and (min-width: 300px) {
  :root{
      font-size: 14px;
  }
}

@media (max-height: 360px) and (max-width: 190px) {
  .container {
    width: 90vw;
  }
  :root{
    font-size: 12px;
  }
}

@media (max-height: 290px) and (max-width: 300px) {
  :root{
    font-size: 12px;
  }
}

@media (max-height: 240px) and (min-width: 190px) and (max-width: 300px) {
  :root{
      font-size: 10px;
  }
}

@media (max-height: 250px) and (min-width: 300px) {
  :root{
      font-size: 10px;
  }
}

@media (max-height: 310px) and (max-width: 190px) {
  .container {
    width: 90vw;
  }
  :root{
      font-size: 10px;
  }
}

@media (max-height: 260px) and (max-width: 190px) {
  .container {
    width: 90vw;
  }
  :root{
      font-size: 8px;
  }
}
